#### Data Structures for ML Basics 
* Dictionaries
* Lists
* numpy arrays
* Pandas Dataframes

In [1]:
print("Hello world")

Hello world

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
list = [1,2,4,5]
dicts = {}
dicts['Name'] = 'garima'

In [ ]:
# I have a 100,1000 records or roows and i need to find the similar looking rows ... you need to keep a roow index as well (top 10 similar rows)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/sample_data/california_housing_test.csv')

In [ ]:
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [3]:
def add(a,b):
  return a+b

In [ ]:
def add(a,b):
  return a+b

add(5,6)

11

In [ ]:
def add(a,b):
  """
  input: two numbers
  output: addition of two numbers
  """

# Declaring a function

In [ ]:
# Function definition is here
def printme(str1):
    #"This prints a passed string into this function"
    print(str1)
    return

# Calling the function

In [ ]:
# Now you can call printme function
printme("I'm first call to user defined function!")
printme("Again second call to the same function")

I'm first call to user defined function!
Again second call to the same function

In [ ]:
def add(num1,num2):
  if num1 > 0 and num2 > 0:
    result = num1 + num2
    print("The results is ", result)
    return
  else:
    print("invalid input")
    return

In [ ]:
add(-9,0)

invalid input

#### Hint for the below function

In [ ]:
a = 'Garima'
for i in a:
  print(i)

G
a
r
i
m
a

#### Write the function to calculate the length of the string

In [ ]:
def cal_length_string(str):
  length = 0
  for i in str:
    length = length + 1
  return length

In [ ]:
res = cal_length_string("this is my room")
print(res)

15

#### Write a function to calculate the area of circle and return the area

In [ ]:
def cal_area(radius):
  if radius > 0:
    area = 3.14 * radius * radius
    return area
  else:
    print("invalid input")
    return

In [ ]:
result = cal_area(5)
print("the area is "+ str(result)+" m^2")

the area is 78.5 m^2

# Function arguments in Python

# Default argument

In [ ]:
# Define `plus()` function
def plus(a,b = 2):
    return a + b
  
# Call `plus()` with only `a` parameter
plus(a=1)

3

In [ ]:
def simple_interest(p,t,r = 0.1):
  return (p*r*t)/100

In [ ]:
simple_interest(10000,2)

20.0

In [ ]:
# Call `plus()` with `a` and `b` parameters
plus(a=1, b=3)

4

# Required arguments

In [ ]:
# Define `plus()` with required arguments
def plus(a,b):
      return a + b

In [ ]:
int(input())

45

45

# Keyword arguments

In [ ]:
# Define `plus()` function
def plus(a,b):
      return a + b
    
# Call `plus()` function with parameters 
plus(2,3)

5

In [ ]:
# Call `plus()` function with keyword arguments
plus(a=1, b=2)

3

# Local variables

In [ ]:
def myfunc():
    x = 300
    print(x)

myfunc()

300

# Global variables

In [ ]:
x = 300

def myfunc():
    print("Calling the method :",x)

myfunc()
print("Global variable :",x)

Calling the method : 300
Global variable : 300

In [ ]:
from sort import sort_list

In [ ]:
sort_list([0,9,8,7,5,4])

[0, 4, 5, 7, 8, 9]

In [4]:
import numpy as np

In [ ]:
from numpy import array